<template>
  <div class="hello">
    <audio src="http://d.datouwang.com/uploads/file/yinxiao/2019/yinxiao2325.mp3" autoplay controls loop></audio>
   <h1><strong>不要太爱我</strong></h1> 
   <div class="imgs">
     <img  src="../assets/imgs/1.jpg" alt="">
     <img src="../assets/imgs/2.jpg" alt="">
     <img src="../assets/imgs/3.jpg" alt="">
     <img src="../assets/imgs/4.png" alt="">
     
   </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello{
  width: 500px;
  height: 800px;
  margin: 100px auto;
  background: pink;
}
img{
  height: 200px;
  /* width: 200px; */
}
</style>
